{% extends "base.html" %}

{% block content %}

<!-- HERO SECTION -->
<div class="hero-section d-flex align-items-center justify-content-center text-center text-white">

    <div>
        <h1 class="display-4 fw-bold">New Collection</h1>
        <p class="lead">Discover the latest trends in tech & fashion</p>
        <a href="{% if user %}/shop{% else %}/login{% endif %}" class="btn btn-light px-4 py-2 mt-2">Shop Now</a>
    </div>

</div>

<!-- CATEGORY SECTION -->
<section class="categories" style="padding: 30px 60px 10px;">

    <a href="/shop?category=laptop" style="text-decoration:none;">
    <div class="category">
        <img src="{{ url_for('static', filename='images/laptop.jpg') }}">
        <div class="category-name">Laptop</div>
    </div>
    </a>

    <a href="/shop?category=phone" style="text-decoration:none;">
    <div class="category">
        <img src="{{ url_for('static', filename='images/phone.jpg') }}">
        <div class="category-name">Cellphone</div>
    </div>
    </a>

    <a href="/shop?category=shoes" style="text-decoration:none;">
    <div class="category">
        <img src="{{ url_for('static', filename='images/shoes.jpg') }}">
        <div class="category-name">Shoes</div>
    </div>
    </a>

    <a href="/shop?category=watch" style="text-decoration:none;">
    <div class="category">
        <img src="{{ url_for('static', filename='images/watch.jpg') }}">
        <div class="category-name">Watch</div>
    </div>
    </a>

    {% if user %}
    <a href="/shop?category=accessories" style="text-decoration:none;">
    <div class="category">
        <img src="{{ url_for('static', filename='images/headset.jpg') }}">
        <div class="category-name">Accessories</div>
    </div>
    </a>
    {% endif %}

</section>

{% endblock %}
